[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
acdh-cfts-pyutils = "==0.2"
acdh-tei-pyutils = "*"
pandas = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.10"
